{% extends "freechesslessons/base.html" %}

{% block head %}
<title>Free Chess Lessons</title>
<meta name="description" content="Welcome to Free Chess Lessons!">
{% endblock head %}

{% block body %}
{% include "freechesslessons/_header.html" %}

<main class="container content">
  {# --- welcome section --- #}
  <section class="hero">
    <h1 class="hero-title">freechesslessons</h1>
    <p class="hero-subtitle">Free Chess Lessons!</p>
    <div class="button-group">
      <a class="btn primary" href="{% url 'index' %}">Sign Up</a>
    </div>
    <br>
    <div class="button-group">
      <a class="btn secondary" href="{% url 'index' %}">Donate</a>
    </div>
  </section>
</main>
{% endblock body %}
